<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Changa:600&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/shop-homepage.css') }}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">SuperMarket</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item active">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                    <div class="dropdown-menu">

                        {% for categorie in categories %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               href="{{ path('categorie_show_produits', {'id': categorie.id}) }}">{{ categorie.libelle }}</a>
                            <div class="dropdown-divider"></div>

                        {% else %}
                            <tr>
                                <td colspan="3">no records found</td>
                            </tr>
                        {% endfor %}
                    </div>


                    {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_inscription') }}">Inscription</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>

                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" >Profil: {{ app.user.username }} </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('panier_index') }}" >Panier</a>
                    </li>


                        {% if app.user.username == "Admin" %}
                        <li class="dropdown nav-item active">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">BackOffice</a>
                            <div class="dropdown-menu">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ path('produit.index') }}">Produit</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                   href="{{ path('utilisateur.index') }}">Utilisateur</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        {% endif %}


                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- Footer -->
<link rel="stylesheet" href="style.css" type="text/css"/>

<footer>
    <!-- Footer Links -->
    <div class="container text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Informations</h5>
                <p>Méthodes de paiment :</p>
                <img src="{{ asset('images/paypal-logo.png') }}" alt="Paypal"/>
                <br><br>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">A Propos</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="info/politique_confidialite.php">Politique de confidialité</a>
                        </p>
                        <p>
                            <a href="info/politique_retour.php">Politique de retour</a>
                        </p>
                        <p>
                            <a href="info/politique_vente.php">Politique de vente</a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Adresse</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                        <div><i class="fa fa-home mr-3"></i>25 Avenue Albert Camus</div>
                        <div><i class="fa fa-home mr-3"></i>66000 Perpignan</div>

                    </li>
                    <li>
                        <p>
                        <div><i class="fa fa-envelope mr-3"></i>adresse.mail@mail.com</div>
                    </li>
                    <li>
                        <p>
                        <div><i class="fa fa-phone mr-3"></i> + 06 51 65 46 79</div>

                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Nous suivre</h5>


                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a title="Facebook" href="https://www.facebook.com/idrones.fr/" target="_blank"
                               data-testid="social-link"><i class="fa fa-facebook-square"></i> Facebook </a>
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
    <!-- Copyright -->
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>
